/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');


/* font-family: "Dancing Script", cursive; */

/* font-family: "Inter", sans-serif; */

@font-face{
    font-family: Miama-font;
    src: url(../font/Miama.ttf);
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

* {
    margin: 0;
}

/* Shared CSS */

:root {
    --primary-font-color: rgba(255, 255, 255, 1);
    --secondary-font-color: rgba(255, 255, 255, 0.5);
    --third-color: rgba(230, 83, 60, 1);
    --large-font-size: 3rem;
    --small-font-size: 0.9rem;
    --medium-font-size: 1.125rem;
}

.btn-primary {
    padding: 1rem 2.85rem;
    border-radius: 2.8rem;
    background-color: var(--third-color);
    color: var(--primary-font-color);
    font-size: var(--medium-font-size);
    border: none;
    line-height: 1.4rem;
    cursor: pointer;
}

.section-title {
    color: var(--primary-font-color);
    font-size: 3rem;
    line-height: 120%;
}

.section-description {
    font-size: var(--small-font-size);
    color: var(--secondary-font-color);
    letter-spacing: 0.3px;
}

/* Header section  */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.header-section {
    max-width: 1060px;
    padding-top: 57px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

nav ul {
    display: flex;
    gap: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 8px 20px;
    border-radius: 2.9rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.active {
    background-color: var(--third-color);
}

.menu-icon {
    color: var(--primary-font-color);
    display: none;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.banner-content {
    width: 50%;
}

.banner-img {
    width: 40%;
    position: relative;
}

.banner-content .banner-title {
    font-size: 4.9rem;
    color: var(--primary-font-color);
    line-height: 120%;
}

.banner-title span {
    font-family: Miama-font;
    font-size: 5.9rem;
    line-height: 120%;
    font-weight: 400;
}

.banner-description {
    margin: 1.75rem 0;
}


.banner-content .download-btn {
    background: none;
    /* border: 2px solid var(--primary-font-color); */
    border: 2px solid white;
}

.banner-img-mobile{
display: none;
}

.banner-img img {
    width: 100%;
    /* height: 580px; */
}

.video-tutorial-btn .play-icon{
    height: 40px;
    width: 40px;
    background-color:var(--third-color);
    border-radius: 50%;
    position: relative;
}

.video-tutorial-btn .play-icon i{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-tutorial-btn {
    padding: 1rem 1.5rem;
    text-align: left;
    background-color: rgba(48, 48, 48, 0.54);
    border: none;
    border-radius: 1rem;
    position: absolute;
    bottom: 10%;
    left: 0;
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.free-workout-video-btn {
    padding: 1rem 1.5rem;
    text-align: left;
    background-color: rgba(48, 48, 48, 0.54);
    border: none;
    border-radius: 1rem;
    position: absolute;
    top: 25%;
    right: 0;
}

.video-tutorial-btn .video-number,
.free-workout-video-btn .video-number {
    color: var(--primary-font-color);
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;

}

/* main section  */

main>section {
    max-width: 1060px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.change-habit-section {
    margin-top: 6.25rem;
}

.change-habit-section-head {
    max-width: 60%;
    margin: 0 auto;
    /* border: 1px solid white; */
    text-align: center;
    margin-bottom: 3.6rem;
}

.change-habit-section-head .section-title {
    margin-bottom: 0.9rem;

}


.change-habit-section-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.change-habit-section-body .card .card-img {
    /* border-radius: 50%; */
    width: 90%;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.change-habit-section-body .card .card-img img {
    width: 100%;
    border-radius: 50%;
}

.change-habit-section-body .card .card-content {
    text-align: center;
}

.change-habit-section-body .card .card-content .card-title {
    color: var(--primary-font-color);
    font-size: var(--medium-font-size);
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0.4rem;
}

/* Run Extra Mile section  */
.run-extra-mile-section {
    margin-top: 6.25rem;
}

.run-extra-mile-section .run-extra-mile-section-inner {
    background-color: rgba(34, 34, 34, 1);
    border-radius: 1.1rem;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.run-extra-mile-section-inner .run-extra-mile-content {
    max-width: 40%;
}

.run-extra-mile-content .section-description {
    margin-top: 0.9rem;
    margin-bottom: 2.1rem;
}

.run-extra-mile-content .btn-primary {
    padding: 1rem 4.4rem;
}

.run-extra-mile-section .run-extra-mile-section-inner .run-extra-mile-img {
    max-width: 35%;
}

.run-extra-mile-img img {
    width: 100%;
    height: 100%;
    border-radius: 1.1rem;
}

.run-extra-mile-img .run-for-mobile,
.run-extra-mile-img .run-for-tablet {
    display: none;
}

/* training-exercise-section  */

.training-exercise-section {
    margin-top: 5.5rem;
}

.training-exercise-section-head {
    max-width: 60%;
    margin-bottom: 3.6rem;
}

.training-image-row-1 {
    display: grid;
    grid-template-columns: 0.9fr 2.2fr 0.9fr;
    grid-template-rows: 200px;

}

.training-image-row-2 {
    display: grid;
    grid-template-columns: 1.7fr 0.9fr 1.4fr;
    grid-template-rows: 200px;
}



.training-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.training-img .show {
    display: none;
}

/* .training-img .hide{
    display: block;
} */


.training-img img {
    width: 100%;
    height: 100%;
}

.img-content {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;

}

.img-content span {
    padding: 1.4rem;
    font-size: 0.9rem;
    max-width: 70%;
    color: white;
}


.img-content-1 span {
    color: black;
}

.img-content-1 {
    background-color: rgba(6, 255, 210, 0.5);
    align-items: flex-end;
}

.img-content-2 {
    background-color: rgba(255, 0, 0, 0.3);
}

.img-content-3 {
    background-color: rgba(0, 0, 0, 0.5);
    align-items: flex-end;
}

.img-content-4 {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
}

.img-content-5 {
    background-color: rgba(66, 255, 0, 0.3);
    align-items: flex-end;
}

.img-content-6 {
    background-color: rgba(0, 71, 255, 0.3);
    align-items: flex-end;
}

/* Our Team Section  */

.our-team-section {
    margin-top: 5.5rem;
   
}

.our-team-section .our-team-section-head {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.our-team-section .our-team-section-head .section-description {
    margin-top: 0.9rem;
    margin-bottom: 3.6rem;
}

.our-team-section-inner {
    padding: 20px;
    background-color: rgb(161 151 151 / 20%);
    border-radius: 1.1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.1rem;
}

.our-team-section-inner img {
    width: 100%;
    height: 100%;
    border-radius: 1.1rem;
}


.our-team-section .team-card .trainer-name {
    font-size: 1.25rem;
    color: var(--primary-font-color);
    line-height: 120%;
}

.our-team-section .team-card .trainer-title {
    font-size: 0.9rem;
    color: var(--secondary-font-color);

}

.our-team-section .team-card {
    position: relative;
}

.our-team-section .team-card .trainer-details {
    position: absolute;
    left: 1.25rem;
    bottom: 1rem;
}

/* bmi-calculate-section */

main .bmi-calculate-section {
    /* margin: 0 auto; */
    margin-top: 5.5rem;
    width: 100%;
}

.bmi-calculate-section-head {
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 5.5rem;
}

.bmi-calculate-section-head-inner {
    max-width: 60%;
    margin: 0 auto;
}

.bmi-calculate-section-head .section-description {
    margin-top: 0.9rem;
}

.bmi-calculate-section-body {
    background-color: rgba(34, 34, 34, 1);
}

.bmi-calculate-section .bmi-calculate-section-inner {
    max-width: 1060px;
    margin: 0 auto;
    padding: 3.25rem 0;
    display: flex;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.bmi-calculate-section .bmi-calculate-section-inner .bmi-chart-column {
    width: 45%;
}

.bmi-calculate-section .bmi-calculate-section-inner .calculation-column {
    width: 50%;
}

.bmi-calculate-section-inner .bmi-chart-title {
    font-size: 1.75rem;
    color: var(--primary-font-color);
    margin-bottom: 3.25rem;
}

.bmi-calculate-section-inner .chart-table th {
    font-size: 1rem;
    color: var(--primary-font-color);
}

table {
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.7rem 1.25rem 0.9rem 1.25rem;
    color: var(--secondary-font-color);
    font-size: var(--small-font-size);
}

.bmi-calculation-title {
    font-size: 1.75rem;
    color: var(--primary-font-color);
    margin-bottom: 0.9rem;
}

form{
    margin: 2.1rem auto;
}

form .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
}

#activity-form-group{
    display: grid;
    grid-template-columns: 1fr;
}

.form-group input,
.form-group select{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 0.9rem 1.25rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    line-height: 1.26rem;
    border-radius: 0.5rem;
    appearance: none;
}

.gender-age-form-group,
.activity-form-group{
    position: relative;
}

/* .form-group::after{
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
} */
 .gender-age-form-group::after,
 .activity-form-group::after{
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}



.form-group select option{
    color: rgba(255, 255, 255, 0.6);
    background-color: #4f4f4f;
    display: inline-block;
    margin: 0.5rem 0;
}

.form-group input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

/* Calculate part end here 2 */


/* Student Reviews section  */

.student-review-section {
    margin-top: 5.5rem;
}

.student-review-section-head {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}


.student-review-section-head .section-description {
    margin-top: 1.25rem;
}

.student-review-section-body {
    background-color: rgba(34, 34, 34, 1);
    padding: 1.25rem;
    margin-top: 1.25rem;
    border-radius: 1rem;
}

.student-review-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
}

.student-review {
    padding: 1rem;
    border: 1px solid var(--secondary-font-color);
    border-radius: 1rem;
    text-align: center;
    background-color: #4f4f4f;
}

.student-img {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.student-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.student-details .student-name {
    color: var(--primary-font-color);
}


.student-details .student-review-comment {
    color: var(--secondary-font-color);
    font-size: var(--small-font-size);
    margin-top: 1rem;
}


/* footer section  */

footer {
    margin-top: 5.5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-section {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 4rem;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.footer-left-column {
    width: 40%;
}

.footer-description {
    margin-top: 1.25rem;
}

.footer-right-column {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.footer-right-col-1 {
    width: 45%;
}

.footer-right-col-2 {
    width: 45%;
}

.footer-right-col-1 .section-title,
.footer-right-col-2 .section-title {
    font-size: 2rem;
}

.footer-links {
    padding: 0;
    margin-top: 1.25rem;
}

footer .footer-links li {
    list-style: none;
    margin-top: 1.25rem;
}

footer .footer-links li a {
    color: var(--secondary-font-color);
    text-decoration: none;
}

.footer-bottom {
    padding: 2.2rem;
    text-align: center;
}


/* ---------------------------------------------------------------------- */

/* Responsive Part  */

@media screen and (max-width:576px) {

    .section-title {
        font-size: 2rem;
    }

    .header-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav ul {
        display: none;
    }

    nav .menu-icon {
        display: block;
    }

    .banner-section {
        padding-top: 50px;
        padding-bottom: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content .banner-title {
        font-size: 2.25rem;
        width: 70%;
    }

    .banner-content .banner-title span {
        font-size: 4.25rem;
    }

    .banner-description {
        width: 70%;
    }

    .banner-btns {
        max-width: 390px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .btn-primary {
        padding: 1rem 2.8rem;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    .banner-img {
        width: 100%;
        margin-top: 3rem;
    }

    .banner-img-desk-tab{
        display: none;
    }

    .banner-img-mobile{
        display: block;
    }

    .free-workout-video-btn {
        top: 12%;
    }

    .video-tutorial-btn {
        bottom: 31%;
    }

    main section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .change-habit-section {
        margin-top: 0;
    }

    .change-habit-section-head {
        max-width: 100%;
    }

    .change-habit-section-body {
        grid-template-columns: 1fr;
    }

    .change-habit-section .card {
        text-align: center;
        max-width: 80%;
        margin: auto;
    }

    .change-habit-section-body .card .card-img img {
        width: 80%;
    }

    .run-extra-mile-section {
        margin-top: 4rem;
    }

    .run-extra-mile-section .run-extra-mile-section-inner {
        justify-content: space-between;
        flex-direction: column;
    }

    .run-extra-mile-section-inner .run-extra-mile-content {
        max-width: 100%;
    }

    .run-extra-mile-section .run-extra-mile-section-inner .run-extra-mile-img {
        max-width: 100%;
        margin-top: 2rem;
    }

    .run-extra-mile-img .run-for-tablet,
    .run-extra-mile-img .run-for-desktop{
        display: none;
    }

    .run-extra-mile-section .run-for-mobile {
        display: block;
    }
    .run-extra-mile-content .btn-primary {
        padding: 1rem 4.4rem;
        width: 100%;
    }

    .our-team-section {
        margin-top: 4.1rem;
    }

    .our-team-section .our-team-section-head {
        width: 85%;

    }

    .our-team-section .our-team-section-head .section-description {
        margin-bottom: 2.3rem;
    }

    .our-team-section-inner {
        grid-template-columns: 1fr;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .training-exercise-section-head {
        max-width: 100%;
    }

    .training-image-row-1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 130px;
    }

    .training-image-row-2 {
        grid-template-columns: 0.9fr 1.1fr;
        grid-template-rows: 130px;
    }

    .training-img .show {
        display: block;
    }

    .img-content-1 span {
        color: white;
    }


    main .bmi-calculate-section {
        margin-top: 2rem;
    }

    .bmi-calculate-section-head-inner {
        margin: 0 auto;
    }

    .bmi-calculate-section-head-inner {
        max-width: 100%;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .bmi-calculate-section-head {
        margin-bottom: 2rem;
    }

    .bmi-calculate-section-body {
        padding: 1.25rem;
    }

    .bmi-calculate-section .bmi-calculate-section-inner {
        padding: 2rem 0;
        flex-direction: column;
    }

    .bmi-calculate-section .bmi-calculate-section-inner .bmi-chart-column {
        width: 100%;
    }

    .bmi-calculate-section .bmi-calculate-section-inner .calculation-column {
        width: 100%;
    }

    .bmi-calculate-section-inner .bmi-chart-title {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .bmi-calculation-title {
        font-size: 1rem;
        margin-top: 2.5rem;
    }

    .calculation-form input {
        color: rgba(255, 255, 255, 0.6);
        max-width: 79%;
    }

    .calculation-column .calculation-form .form-group {
        gap: 20px;
    }

    .form-group input{
        width: 79%;
    }


    .student-review-section {
        margin-top: 3.5rem;
    }

    .student-review-section-head {
        max-width: 85%;
    }

    .student-review-container {
        grid-template-columns: 1fr;
    }

    footer {
        margin-top: 4rem;
    }

    .footer-section {
        padding: 0 20px;
        padding-top: 2.75rem;
    }

    .footer-inner {
        flex-direction: column;
    }

    .footer-left-column {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer-right-column {
        flex-direction: column;
        width: 100%;
    }

    .footer-right-col-1 {
        width: 100%;
        margin-bottom: 1.25rem;
    }

    .footer-right-col-2 {
        width: 100%;
    }

    .footer-right-col-1 .section-title,
    .footer-right-col-2 .section-title {
        margin-top: 1.25rem;
    }

    .footer-inner {
        margin-bottom: 4.5rem;
    }
}

/* ---------------------------------------------------- */
/* Responsive for tab  */

@media screen and ((min-width:576px) and (max-width:992px)) {
    .header-section {
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    nav ul {
        gap: 1.25rem;
    }

    .banner-section {
        flex-direction: column;
    }

    .banner-content {
        width: 75%;
    }

    .banner-img {
        width: 50%;
        margin-top: 5rem;
    }

    .video-tutorial-btn {
        bottom: 25%;
    }

 .free-workout-video-btn {
    top: 13%;
    right: -10%;
}

    main>section {
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    .change-habit-section-body {
        margin: 0 auto;
        max-width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }

    .run-extra-mile-section-inner .run-extra-mile-content {
        max-width: 45%;
    }

    .run-extra-mile-section .run-extra-mile-section-inner .run-extra-mile-img {
        max-width: 42%;
    }

    .run-extra-mile-section .run-for-mobile,
    .run-extra-mile-img .run-for-desktop{
        display: none;
    }

    .run-extra-mile-img .run-for-tablet {
        display: block;
    }
    .run-extra-mile-content .section-title {
        font-size: 2.25rem;
    }

    .training-exercise-section-head {
        max-width: 100%;
    }

    .training-image-row-1 {
        grid-template-columns: 0.9fr 1.2fr 0.9fr;
    }

    .training-image-row-2 {
        grid-template-columns: 1.2fr 0.9fr 0.9fr;
    }

    .img-content span {
        max-width: 80%;
    }


    main .bmi-calculate-section {
        margin-top: 4.5rem;
    }

    .bmi-calculate-section-head {
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    .bmi-calculate-section-head-inner {
        max-width: 90%;
        margin: 0;
    }

    .bmi-calculate-section .bmi-calculate-section-inner {
        padding-left: 1.9rem;
        padding-right: 1.9rem;
        flex-direction: column;
        padding-top: 2.1rem;
        padding-bottom: 2.2rem;
    }

    .bmi-calculate-section .bmi-calculate-section-inner .bmi-chart-column {
        width: 100%;
        margin-bottom: 3.9rem;
    }

    .bmi-calculate-section .bmi-calculate-section-inner .calculation-column {
        width: 94%;
    }


    .form-group input{
        width: 88%;
    }

    .our-team-section .our-team-section-head {
        width: 100%;
    }



    footer {
        margin-top: 3.5rem;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .footer-section {
        padding-top: 3rem;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    .footer-inner {
        flex-direction: column;
    }

    .footer-left-column {
        width: 60%;
        margin-bottom: 6.25rem;
    }

    .footer-right-column {
        width: 80%;
    }


<<<<<<< HEAD
}
=======




}
>>>>>>> c52854c86afee29543d7bd66980e80178ee93b80
