/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');


/* font-family: "Dancing Script", cursive; */

/* font-family: "Inter", sans-serif; */

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

* {
    margin: 0;
}

/* Shared CSS */

:root {
    --primary-font-color: rgba(255, 255, 255, 1);
    --secondary-font-color: rgba(255, 255, 255, 0.5);
    --third-color: rgba(230, 83, 60, 1);
    --large-font-size: 3rem;
    --small-font-size: 0.9rem;
    --medium-font-size: 1.125rem;
}

.btn-primary {
    padding: 1rem 2.85rem;
    border-radius: 2.8rem;
    background-color: var(--third-color);
    color: var(--primary-font-color);
    font-size: var(--medium-font-size);
    border: none;
    line-height: 1.4rem;
}

.section-title {
    color: var(--primary-font-color);
    font-size: 3rem;
    line-height: 120%;
}

.section-description {
    font-size: var(--small-font-size);
    color: var(--secondary-font-color);
    letter-spacing: 0.3px;
}

/* Header section  */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.header-section {
    max-width: 1060px;
    padding-top: 57px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

nav ul {
    display: flex;
    gap: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 8px 20px;
    border-radius: 2.9rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.active {
    background-color: var(--third-color);
}

.menu-icon {
    color: var(--primary-font-color);
    display: none;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.banner-content {
    width: 50%;
    /* border: 1px solid ghostwhite; */
}

.banner-img {
    width: 40%;
    /* border: 1px solid ghostwhite; */
}

.banner-content .banner-title {
    font-size: 4.9rem;
    color: var(--primary-font-color);
    line-height: 120%;
}

.banner-title span {
    font-family: "Dancing Script", cursive;
    font-size: 4.9rem;
    line-height: 120%;
    font-weight: 400;
}

.banner-description {
    margin: 1.75rem 0;
}

.banner-content .download-btn {
    background: none;
    /* border: 2px solid var(--primary-font-color); */
    border: 2px solid white;
}

.banner-img img {
    width: 100%;
    /* height: 580px; */
}

/* main section  */

main>section {
    max-width: 1060px;
    margin: 0 auto;
}

.change-habit-section {
    margin-top: 100px;
}

.change-habit-section-head {
    max-width: 60%;
    margin: 0 auto;
    /* border: 1px solid white; */
    text-align: center;
    margin-bottom: 3.6rem;
}

.change-habit-section-head .section-title {
    margin-bottom: 0.9rem;

}


.change-habit-section-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.change-habit-section-body .card .card-img {
    /* border-radius: 50%; */
    width: 90%;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.change-habit-section-body .card .card-img img {
    width: 100%;
    border-radius: 50%;
}

.change-habit-section-body .card .card-content {
    text-align: center;
}

.change-habit-section-body .card .card-content .card-title {
    color: var(--primary-font-color);
    font-size: var(--medium-font-size);
    font-weight: 600;
    line-height: 120%;
}




/* footer section  */

footer {}

/* ---------------------------------------------------------------------- */

/* Responsive Part  */

@media screen and (max-width:576px) {

    .section-title {
        font-size: 2rem;

    }

    .header-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav ul {
        display: none;
    }

    nav .menu-icon {
        display: block;
    }

    .banner-section {
        padding-top: 50px;
        padding-bottom: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content .banner-title {
        font-size: 2.25rem;
        width: 70%;
    }

    .banner-content .banner-title span {
        font-size: 2.25rem;
    }

    .banner-description {
        width: 70%;
    }

    .btn-primary {
        padding: 1rem 1.5rem;
        font-size: 0.9rem;
    }

    .banner-img {
        width: 100%;
        margin-top: 3rem;
    }

    main section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .change-habit-section {
        margin-top: 0;
    }

    .change-habit-section-head {
        max-width: 100%;
    }

    .change-habit-section-body {
        grid-template-columns: 1fr;
    }



}